.carrosel {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0px auto 30px auto;
    padding: 0;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    z-index: 10;
}

.slides {
    display: flex;
}
    
.slideLink {
    width: 100%;
    flex-shrink: 0;
    display: block;
}

.imagem {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.btnCarrosel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    z-index: 10;
    transition: background 0.3s;
    background: rgba(255, 255, 255, 0.7); 
    border-radius: 5px;
}

.btnCarrosel:hover {
    background: rgba(255, 255, 255, 1);
}

.voltarBtn {
    left: 10px;
}

.avancarBtn {
    right: 10px;
}