
#Header {
    margin: 5px;
    display: flex;
    padding: 0 30px;
    background-color: rgb(254, 249, 236);
    justify-content: space-between;
    align-items: center;
}

#navMenu {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

#navMenu a {
    margin: 10px;
    text-decoration: none;
    color: black;
}

#navMenu a:hover {
    text-decoration: underline;
    color: rgb(112, 112, 112);
}

.linha {
  width: 100%;
  height: 3px;
  background-color: #333; /* Cor do ícone (altere como quiser) */
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.menuBtn {
    display: none;
    background: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: black;
    padding: 10px;
}

#Header img {
    width: 30%;
    min-width: 150px;
}

@media (max-width: 800px) {
    #Header {
        position: relative;
    }

    #Header a img {
        min-width: 150px;
        width: 150px;
        margin-bottom: 0;
    }

    .menuBtn {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 24px;
        background: transparent;
        border: none;
        cursor: pointer;
        color:black;
        padding: 0;
        z-index: 10; /* Garante que o botão fique acima do menu quando aberto */
    }
   
    #navMenu {
        display: none;
        flex-direction: column;
        position: absolute;
        color:black;
        text-align: center;
        top: 100%;
        right: 0;
        background-color: rgb(254, 249, 236);
        width: 200px;
        box-shadow: -2px 5px 10px rgba(0,0,0,0.2);
        border-radius: 0 0 0 15px;
        padding: 15px;
        z-index: 100;
    }

    #navMenu a {
        margin: 15px 10px;
        font-size: 1.2rem;
    }

    #navMenu.ativo {
        display: flex;
    }}